*{
    box-sizing: border-box;
}

.container{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.Box{
    background-color: white;
    height: fit-content;
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
}

.cusTypogrphy{
    padding: 0.5rem;
    font-size: 1.5rem!important;
    letter-spacing: 0.5px!important;
    margin-bottom: 0.7rem!important;
    color:#25396f;
}

.btnContainer{
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 10px;
    margin-top:0.7rem;
}

@media (min-width:0px) {
    .Box{
        width: 98%;
    }
}

@media (min-width:360px) {
    .Box{
        width: 85%;
    }
}

@media (min-width:768px) {
    .Box{
        width: 65%;
    }
}


.RenderBox{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    min-width: 350px;
    max-width: 350px;
    cursor: pointer;
    min-height: 200px;
    color: #25396f;
    user-select: none;

}

.RenderBox:hover{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.BoxHeading{
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.date{
    display: flex;
    align-items: center;
    gap: 10px;
}

.obj{
    font-size: 17px;
    font-weight: 500;
    line-height: 35px;
}

.flexEnd{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.slotsContainer{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    overflow-x:scroll;
}

::-webkit-scrollbar{
    width: 0px;
}


.createSlots{
    min-width: 300px;
    width: 300px;
    min-height: 200px;
    border: dashed 2px #25396f;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    transform-origin: top left;
}

.createSlots > button {
    color: #25396f!important;
}

.createSlots:hover{
    background-color: #25396f;
    color: white;
}

.createSlots:hover > button{
    color: white!important;
}

.slotsContainerMini{
    display: flex;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 10px ;
    flex-direction: column;
    margin-top: 10px;
    
}

.slotsHeading{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #25396f;
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin: 0 auto;
}

.slotBodyContainer{
    display:flex;
    flex-direction: column;
    gap: 25px;
}   

.slotBody{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 30px;   
    column-gap: 50px;
    width: 98%;
    margin: 20px auto;
}

.text_icon_align{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.ColorShow{
    width:32px;
    height:32px;
    border-radius: 7px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.ColorLebal{
    font-size: 17px;
    font-weight: 500;
}


.colorShowSlots{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: end;
    margin: 0 auto;
    width: 98%;
}

.slot{
    width:100%;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 7px;
    padding: 8px;
    border-radius: 10px;
    transition: all;
    transition-duration: 0.3s;
    max-width: 130px;
    color: white;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.slot:hover{
    transform: scale(1.1);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.count{
    /* width: 20px;
    height: 20px; */
    margin-left: 10px;
    padding-right: .5em;
    padding-left: .5em;
    display: inline-block;
    border-radius: 1.1em;
    text-align: center;
    min-height: 1em;
    min-width: 0.9em;
    padding-bottom: .25em;
    padding-top: 0.25em;
    background-color: #25396f;
    color: #25396f;
    vertical-align: middle;
    font-weight: 600;
    font-size: 0.70rem;
    /* border-radius: 100%; */
    background-color: white;
    line-height: 1;
}